:root {
    --primary: #325681;
    --secondary: #6CB7FF;
    --tertiary: #C2C2F0;
}

#navbarSupportedContent ul {
    gap: 1rem;
}

.navbar-brand, .nav-link {
    color: white;
}

.nav-link.active {
    color: white !important;
    font-weight: 600;
}

header {
    padding: 10rem 0 0 6rem;
    background-color: var(--primary);
}

.header-text {
    color: white;
    gap: 2rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    color: white !important;
    font-size: 2rem !important;
}

.img-clip {
    clip-path: polygon(72% 0, 100% 0%, 100% 100%, 40% 100%);
}